In [109]:
import numpy as np #guna untuk menyediakan fungsi yang siap pakai untuk memudahkan kita melakukan perhitungan saintifik seperti matriks, aljabar, statistik, dan sebagainya
import pandas as pd #guna untuk membaca nama file dari csv atau txt lainnya
from sklearn import neighbors
from sklearn.neighbors import KNeighborsClassifier#Untuk menggunakan KNN
from sklearn.model_selection import train_test_split #digunakan untuk proses training dan testing merupakan kumpulan data yang berbeda.
from sklearn.metrics import confusion_matrix #memberikan informasi perbandingan hasil klasifikasi yang dilakukan oleh sistem (model) dengan hasil klasifikasi sebenarnya.
from sklearn.metrics import classification_report # Memberikan Report
from sklearn.metrics import accuracy_score #memberikan skor akurasi
from imblearn.over_sampling import SMOTE
#
import warnings
from sklearn.exceptions import DataConversionWarning
warnings.filterwarnings("ignore", category=DataConversionWarning)
warnings.filterwarnings("ignore", category=UserWarning)

In [79]:
dataset = pd.read_csv('prediksicuaca.csv') #membaca dataset yang ada

In [80]:
dataset #menampilkan seluruh isi dataset

            date  precipitation  temp_max  temp_min  wind  weather  Prediction
0       1/1/2012            0.0      12.8       5.0   4.7  drizzle           1
1       1/2/2012           10.9      10.6       2.8   4.5     rain           3
2       1/3/2012            0.8      11.7       7.2   2.3     rain           3
3       1/4/2012           20.3      12.2       5.6   4.7     rain           3
4       1/5/2012            1.3       8.9       2.8   6.1     rain           3
...          ...            ...       ...       ...   ...      ...         ...
1456  12/27/2015            8.6       4.4       1.7   2.9     rain           3
1457  12/28/2015            1.5       5.0       1.7   1.3     rain           3
1458  12/29/2015            0.0       7.2       0.6   2.6      fog           5
1459  12/30/2015            0.0       5.6      -1.0   3.4      sun           4
1460  12/31/2015            0.0       5.6      -2.1   3.5      sun           4

[1461 rows x 7 columns]

In [81]:
print(dataset.shape) #menampilkan ada berapa baris dan kolom ( ada 1461 baris, dan 7kolom)
dataset.head(10) #menampilkan 10 data pertama dimulai dari 0

(1461, 7)

        date  precipitation  temp_max  temp_min  wind  weather  Prediction
0   1/1/2012            0.0      12.8       5.0   4.7  drizzle           1
1   1/2/2012           10.9      10.6       2.8   4.5     rain           3
2   1/3/2012            0.8      11.7       7.2   2.3     rain           3
3   1/4/2012           20.3      12.2       5.6   4.7     rain           3
4   1/5/2012            1.3       8.9       2.8   6.1     rain           3
5   1/6/2012            2.5       4.4       2.2   2.2     rain           3
6   1/7/2012            0.0       7.2       2.8   2.3     rain           3
7   1/8/2012            0.0      10.0       2.8   2.0      sun           4
8   1/9/2012            4.3       9.4       5.0   3.4     rain           3
9  1/10/2012            1.0       6.1       0.6   3.4     rain           3

In [82]:
nama_cuaca = dict(zip(dataset.Prediction.unique(), dataset.weather.unique())) #mengembalikan nilai sesuai dengan argumen yang diberikan
nama_cuaca

{1: 'drizzle', 3: 'rain', 4: 'sun', 2: 'snow', 5: 'fog'}

In [104]:
dataset[dataset["Prediction"]==1].shape

(53, 7)

In [105]:
dataset[dataset["Prediction"]==2].shape

(26, 7)

In [108]:
dataset[dataset["Prediction"]==3].shape

(641, 7)

In [106]:
dataset[dataset["Prediction"]==4].shape

(640, 7)

In [107]:
dataset[dataset["Prediction"]==5].shape

(101, 7)

In [83]:
#menentukan nilai x dan y
#x variabel bebas 'temp_max', 'temp_min', 'wind'
#y variabel terikat 'Prediction'

x = dataset[['precipitation','temp_max', 'temp_min', 'wind']]
y = dataset['Prediction']

#memisahkan untuk data yang di latih dan data yang di test. testnya sebesar 2%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)

In [84]:
#menampilkan berapa banyak data yang diuji dan dilatih
print('x_train = ',x_train.shape)# 1168 baris, 4 kolom
print('x_test = ',x_test.shape)# 293 baris, 4 kolom
print('y_train = ',y_train.shape)# 1168 baris, - kolom
print('y_test = ',y_test.shape)# 293 baris, - kolom

x_train =  (1168, 4)
x_test =  (293, 4)
y_train =  (1168,)
y_test =  (293,)

In [85]:
x_train.head()

      precipitation  temp_max  temp_min  wind
646             6.9      13.9       7.8   3.0
92              0.0      16.7       4.4   3.1
818            14.0      11.7       7.2   5.1
302            10.9      15.6      10.0   4.9
1259            0.0      23.9       9.4   2.6

In [86]:
y_train.head()

646     3
92      4
818     3
302     3
1259    4
Name: Prediction, dtype: int64

In [87]:
#mencari nilai K dengan eror terkecil

error_rate = []
for i in range(1,20):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(x_train,y_train)
    pred_i = knn.predict(x_test)
    error_rate.append(np.mean(pred_i != y_test))

print("Minimum error:-",min(error_rate),"at K =",error_rate.index(min(error_rate)))

Minimum error:- 0.26621160409556316 at K = 6

In [88]:
knn.fit(x_train, y_train) #kenapa 19? padahal k eror terkecil 18. Karena KNN nilai K nya tidak boleh genap

KNeighborsClassifier(n_neighbors=19)

In [89]:
knn.score(x_test, y_test)

0.6962457337883959

In [90]:
y_pred = knn.predict(x_test)

In [91]:
cm =confusion_matrix(y_test,y_pred)

In [92]:
cm

array([[  0,   0,   1,   9,   0],
       [  0,   0,   4,   2,   0],
       [  0,   0,  95,  28,   0],
       [  0,   0,  16, 109,   0],
       [  0,   0,   3,  26,   0]])

In [93]:
#untuk akurasi data diubah kedalam matrix
from sklearn.metrics import confusion_matrix

In [94]:
y_pred = knn.predict(x_test)

In [95]:
cm =confusion_matrix(y_test,y_pred)

In [96]:
cm

array([[  0,   0,   1,   9,   0],
       [  0,   0,   4,   2,   0],
       [  0,   0,  95,  28,   0],
       [  0,   0,  16, 109,   0],
       [  0,   0,   3,  26,   0]])

In [97]:
skor_akurasi = accuracy_score(y_test, y_pred)
print(skor_akurasi)

0.6962457337883959

In [98]:
#memasukkan data baru (1)
prediksi_cuaca = knn.predict([[4.1,4.5,0.7,5.3]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Hasil Prediksi Cuaca dari data diatas adalah rain

In [99]:
#memasukkan data baru (2)
prediksi_cuaca = knn.predict([[0,5.6,-1.0,3.4]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Hasil Prediksi Cuaca dari data diatas adalah sun

In [101]:
#memasukkan data baru (3)
new_precipitation = float(input("Masukan pengendapan : "))
new_temp_max = float(input("Masukan Temperature Maximal : "))
new_temp_min = float(input("Masukan Temperature Minimal : "))
new_wind     = float(input("Masukan Tekanan angin       : "))

prediksi_cuaca = knn.predict([[new_precipitation,new_temp_max,new_temp_min,new_wind]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Masukan pengendapan : 3
Masukan Temperature Maximal : 5
Masukan Temperature Minimal : 2
Masukan Tekanan angin       : 4
Hasil Prediksi Cuaca dari data diatas adalah rain

In [102]:
#memasukkan data baru (4)
new_precipitation = float(input("Masukan pengendapan : "))
new_temp_max = float(input("Masukan Temperature Maximal : "))
new_temp_min = float(input("Masukan Temperature Minimal : "))
new_wind     = float(input("Masukan Tekanan angin       : "))

prediksi_cuaca = knn.predict([[new_precipitation,new_temp_max,new_temp_min,new_wind]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

Masukan pengendapan : 2.5
Masukan Temperature Maximal : 5.7
Masukan Temperature Minimal : 13.3
Masukan Tekanan angin       : 2
Hasil Prediksi Cuaca dari data diatas adalah rain

In [103]:
print("selesai")

selesai

In [111]:
# Menentukan variabel bebas (X) dan variabel terikat (y)
x = dataset[['precipitation', 'temp_max', 'temp_min', 'wind']]
y = dataset['Prediction']

# Memisahkan data latih dan data uji
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

# Mengaplikasikan SMOTE oversampling pada data latih
smote = SMOTE()
x_train_resampled, y_train_resampled = smote.fit_resample(x_train, y_train)

# Melatih model k-NN pada data latih yang telah diresampling
knn = KNeighborsClassifier()
knn.fit(x_train_resampled, y_train_resampled)

# Melakukan prediksi pada data uji
y_pred = knn.predict(x_test)

# Melihat classification report
report = classification_report(y_test, y_pred)
print(report)

#memasukkan data baru (4)
new_precipitation = float(input("Masukan pengendapan : "))
new_temp_max      = float(input("Masukan Temperature Maximal : "))
new_temp_min      = float(input("Masukan Temperature Minimal : "))
new_wind          = float(input("Masukan Tekanan angin       : "))

prediksi_cuaca = knn.predict([[new_precipitation,new_temp_max,new_temp_min,new_wind]])
print("Hasil Prediksi Cuaca dari data diatas adalah "+nama_cuaca[prediksi_cuaca[0]])

              precision    recall  f1-score   support

           1       0.03      0.20      0.05        10
           2       0.50      1.00      0.67         6
           3       0.92      0.72      0.80       123
           4       0.64      0.43      0.52       125
           5       0.16      0.21      0.18        29

    accuracy                           0.53       293
   macro avg       0.45      0.51      0.44       293
weighted avg       0.69      0.53      0.59       293

Masukan pengendapan : 3
Masukan Temperature Maximal : 5
Masukan Temperature Minimal : 3
Masukan Tekanan angin       : 7
Hasil Prediksi Cuaca dari data diatas adalah snow